@layout('layouts.main')

@section('content')
  <h2 class="error">Unfortunately, you can't create a post without first creating an account.</h2>
  <h2 class="error">If you do not have an account, click <a href="/register">here</a> to create one.</h2>
  <h2 class="error">If you already have an account, click <a href="/login">here</a> to login.</h2>
@endsection