<div class="view-post">
  <h2 class="view-post--title">{{ post.title }} - by <a href="/profile/{{post.user_id}}" class="view-post--username">{{ post.username }}</a></h2>
  <p>{{ post.body }}</p>
  <div class="view-post--timestamp_container">
    <h3 class="view-post--timestamp">{{ post.created_at }}</h3>
  </div>
</div>