@layout('layouts.main')

@section('content')
  @include('users.partials.permissionbuttons')
  <div class="user-info">
    <h2 class="user--username">{{ user.username }}</h2>
    @include('users.partials.rankbadge')
  </div>
  @include('users.partials.posts')
@endsection