@layout('layouts.main')

@section('content')
  <div class="user-info">
    <h2 class="user--username">{{ user.username }}</h2>
    @include('partials.users.rankbadge')
  </div>
  @include('partials.users.posts')
@endsection