@if(rank === 'Banned')
  <div class="badge badge-banned">{{ rank }}</div>
@elseif(rank === 'User')
  <div class="badge">{{ rank }}</div>
@elseif(rank === 'Moderator')
  <div class="badge badge-mod">{{ rank }}</div>
@elseif(rank === 'Admin')
  <div class="badge badge-admin">{{ rank }}</div>
@else
  <div class="badge badge-superadmin">{{ rank }}</div>
@endif