@layout('layouts.main')

@section('content')
  <a href="/posts/category/{{post.category_id}}" class="btn btn--expand_left"><span>{{category.title}}</span></a>
  <a href="/posts" class="btn btn--expand_left"><span>All Posts</span></a>
  <div class="view-post">
    <h2 class="view-post--title">{{ post.title }} - by <a href="/profile/{{post.user_id}}" class="view-post--username">{{ post.username }}</a></h2>
    <p>{{ post.body }}</p>
  </div>
@endsection