@if(user.permissions === 4)
  <form action="/users/{{user.id}}/2?_method=PUT" class="permission-form" method="post">
    {{ csrfField() }}
    <button type="submit" class="btn btn-dg">Revoke Admin</button>
  </form>
@else
  <form action="/users/{{user.id}}/4?_method=PUT" class="permission-form" method="post">
    {{ csrfField() }}
    <button type="submit" class="btn">Make Admin</button>
  </form>
@endif
