@if(user.rank.rank === 'Banned')
  <div class="badge badge-banned">{{ user.rank.rank }}</div>
@elseif(user.rank.rank === 'User')
  <div class="badge">{{ user.rank.rank }}</div>
@elseif(user.rank.rank === 'Moderator')
  <div class="badge badge-mod">{{ user.rank.rank }}</div>
@elseif(user.rank.rank === 'Admin')
  <div class="badge badge-admin">{{ user.rank.rank }}</div>
@else
  <div class="badge badge-superadmin">{{ user.rank.rank }}</div>
@endif
