@if(user.permissions === 5)
  <form action="/users/{{user.id}}/2?_method=PUT" class="permission-form" method="post">
    {{ csrfField() }}
    <button type="submit" class="btn btn-dg">Revoke Super Admin</button>
  </form>
@else
  <form action="/users/{{user.id}}/5?_method=PUT" class="permission-form" method="post">
    {{ csrfField() }}
    <button type="submit" class="btn">Make Super Admin</button>
  </form>
@endif
