.alert
  border-radius: 5px
  padding: 1em
  margin-top: 1em
  background: $dark-grey
  color: $white
  animation: fadeOutAfter4 4s ease-in 1 forwards

  &::after
    content: '\00D7'
    float: right
    font-size: 2em
    position: relative
    top: -8px
    cursor: pointer

.alert-dg
  background: $highlight

.alert-success
  background: $primary