.badge
  background: $dark-grey
  border-radius: 100px
  color: $white
  display: inline-block
  font-family: Raleway
  font-size: 1em
  font-weight: 600
  margin: 0 1.5em
  padding: .4em .8em
  position: relative
  top: -2px

.badge-mod
  background: $primary

.badge-admin
  background: $highlight

.badge-superadmin
  background: darken($highlight, 10%)

.badge-banned
  background: $black
