.btn
  background: $primary
  border: 0
  border-radius: 3px
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2)
  color: $white
  cursor: pointer
  display: inline-block
  font-family: Montserrat
  font-size: .9em
  font-weight: 600
  margin: 1em 0
  padding: .5em 1em
  text-decoration: none
  transition: background .2s

  &:hover
    background: lighten($primary, 10%)
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, .15)

  &:active
    background: darken($primary, 10%)
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2)

  button
    padding: .35em 1em

.btn-dg
  background: $highlight
  color: $white

  &:hover
    background: lighten($highlight, 10%)
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, .15)

  &:active
    background: darken($highlight, 10%)
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2)

.btn-container
  display: inline-block

.btn--expand_left
  transition: .5s

  span
    display: inline-block
    position: relative
    transition: .2s

    &::before
      content: '\0ab'
      font-size: 1.5em
      left: 0
      opacity: 0
      position: absolute
      top: -4.5px
      transition: .2s

    &:hover
      padding-left: 20px

    &:hover &::before
      opacity: 1
      right: 0

.btn--expand_right
  transition: .5s

  span
    display: inline-block
    position: relative
    transition: .2s

    &::after
      content: '\0bb'
      font-size: 1.5em
      opacity: 0
      position: absolute
      right: -20px
      top: -4.5px
      transition: .2s

    &:hover
      padding-right: 20px

    &:hover &::after
      opacity: 1
      right: 0

.btn-no-margin
  margin: 0
