label
  color: $primary
  display: block
  margin-bottom: .5em

input,
textarea
  background: $white
  border: 1.5px solid $primary
  color: $black
  font-family: Montserrat
  font-size: 1em
  padding: .3em

input
  border: 1.5px solid transparent
  border-bottom-color: $primary
  outline: none
  width: 20em

textarea
  border-radius: 3px
  height: 5em
  max-width: 100%
  width: 50em

option
  [selected]
    [disabled]
      display: none

.form-field
  margin: .7em 0
  padding-bottom: 1em

  &:last-child
    border-bottom: 0
