.container
  margin: auto
  width: 70%

@media(max-width: 767px)
  .container
    width: 90%


.center-xy
  align-items: center
  display: flex
  justify-content: center

.center-y
  align-items: center
  display: flex

.center-x
  display: flex
  justify-content: center

@media(max-width: 1000px)
  .container
    width: 90%
