.nav
  background: $primary
  border-bottom: 5px solid $highlight

.nav-wrapper
  display: flex
  align-items: center
  justify-content: space-between

.nav--title
  color: $highlight
  font-weight: normal
  transition: color 0.2s

  &:hover
    color: darken($highlight, 10%)

.nav--navigation
  display: flex

  .nav--item
    transition: background 0.1s

    &:hover
      background: $highlight

  .nav--link
    color: $white
    padding: 0 0.5em
    height: 4.5em
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.1em
  
  .nav--link.active
    color: $highlight
    transition: color 0.1s

    &:hover
      color: $white