.nav
  background: $primary
  border-bottom: 5px solid $highlight

.nav-wrapper
  display: flex
  align-items: center
  justify-content: space-between

.nav--title
  color: $highlight
  font-weight: normal
  transition: color 0.2s

  &:hover
    color: darken($highlight, 10%)

.nav--navigation
  display: flex

  .nav--item
    transition: background 0.1s

    &:hover
      background: $highlight

  .nav--link
    color: $white
    padding: 0 0.5em
    height: 4.5em
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.1em
  
  .nav--link.active
    color: $highlight
    transition: color 0.1s

    &:hover
      color: $white

.nav--selector
  margin: 1em 0
  display: none

.hamburger
  width: 2em
  height: 5px
  background: $highlight
  border-radius: 5px

  &:before, &:after
    width: 2em
    height: 5px
    background: $highlight
    border-radius: 5px
    content: ''
    display: block
    position: relative

  &:before
    top: -10px

  &:after
    top: 5px

@media(max-width: 767px)
  .nav
    width: 100%

  .nav-wrapper
    display: block

  .nav--navigation
    display: none
    transition: display 0.5s

    .nav--link
      height: 3em
    
  .nav--item
    border-top: 2px solid $highlight

    &:first-child
      border-top: 0

  .nav--selector
    display: flex
    justify-content: flex-end
    padding-bottom: 1em

  .nav--title_container
    text-align: center
    padding: 0.5em 0
    font-size: 2.6em
