h1
  font-size: 2em
  font-weight: 500
  font-family: 'Raleway', sans-serif

h2
  font-family: 'Montserrat', sans-serif
  font-size: 1.8em

h3
  font-family: 'Montserrat', sans-serif
  font-size: 1.5em
  font-weight: 500

p, .text-para
  font-family: 'Montserrat', sans-serif
  letter-spacing: 0.5px
  line-height: 1.6
  font-size: 1em

a, .text-link
  font-family: Raleway
  font-weight: bold
  font-size: 0.9em
  text-decoration: none

label
  font-family: Raleway
  font-weight: bold
  font-size: 1.1em

.text-sub
  font-size: 1.6em
  font-weight: 600
  font-family: Raleway