@layout('layouts.main')

@section('content')
  <a href="{{ route('showCategories') }}">
    <button class="btn mt-1 mb-2 btn-med"><< Back</button>
  </a>
  <h2>{{ category.title }}</h2>
  <p>{{ category.description }}</p>
@endsection