.posts-category
  border-bottom: 2px solid $highlight

.posts-category--title
  margin-bottom: 0

.post
  border-radius: 3px
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, .15)
  margin-top: 1em
  padding: .5em 1em

.post--title
  border-bottom: 2px solid $highlight
  font-family: Raleway
  font-size: 1.4em
  padding: .5em 0
  width: 40%

.post--title_link
  color: $highlight
  font-weight: 400

  &:hover
    text-decoration: underline

.post--user
  color: $primary

.post--user_username
  color: $highlight
  font-weight: 400

  &:hover
    text-decoration: underline

.post--description
  margin-top: 1.2em

.post--delete
  display: inline-block

.post--delete_button
  margin-top: 0

.category--selection
  margin-bottom: 0
  padding-bottom: 0

  &_selected
    display: none

  &_option
    font-weight: 600

.view-post--title
  border-bottom: 2px solid $highlight
  padding-bottom: 1em

.view-post--username
  color: $highlight
  font-weight: 500

  &:hover
    text-decoration: underline

.view-post--timestamp_container
  align-items: center
  display: flex
  justify-content: flex-end

.view-post--timestamp
  border-top: 1px solid $primary
  color: $light-grey
  display: inline-block
  font-size: .9em
  padding-left: 1em
  padding-top: .5em

.comment
  border-radius: 3px
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .15)
  margin: 1em 0
  padding: 1.5em

  &-username
    border-bottom: 1px solid $primary
    padding-bottom: .7em
    padding-right: 1.5em

    &:hover
      text-decoration: underline

    &_link
      font-weight: 400

  &-index
    align-self: flex-start
    color: $light-grey
    font-size: 1em

  &-timestamp--container
    align-items: center
    display: flex
    justify-content: flex-end

  &-timestamp
    border-top: 1px solid $primary
    color: $light-grey
    display: inline-block
    font-size: .9em
    padding-left: 1em
    padding-top: .5em

.make-comment
  border-radius: 5px
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .15)
  margin: 1em 0
  padding: 1em

  button
    display: block

  label
    margin-bottom: 1em
    margin-top: .2em

.comment-info
  align-items: center
  display: flex
  justify-content: space-between

  h3
    display: inline-block
