<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ css('style') }}
  <title>{{ title }}</title>
</head>
<body>
  @include('partials.navbar')
  <div class="container">
    @if(auth.user.permissions === 0)
      <div class="alert alert-dg">You are banned. Your permissions are now set to read only. Please contact a staff member if you wish to appeal this ban.</div>
    @endif
    @!section('content')
  </div>
  {{ script('alerts') }}
</body>
</html>